{{#extends 'base'}}

{{#block 'content'}}
<h1>Update film: {{film.title}}</h1>
<form method="POST">
    <div>
        <label>Title:</label>
        <input type="text" name="title" class="form-control" value="{{film.title}}">
    </div>
    <div>
        <label>Description:</label>
        <textarea name="description" class="form-control">{{film.description}}</textarea>
    </div>
    <div>
        <label>Language:</label>
        <select name="language_id" class="form-control" value="{{film.language_id}}">
            {{#each languages}}
                <option value="{{this.language_id}}">
                    {{#eq this.language._id../film.language_id}}selected{{/eq}}
                    {{this.name}}
                </option>
            {{/each}}
        </select>
    </div>
    <input type="submit" class="btn btn-primary my-3"/>
</form>

{{/block}}

{{/extends}}