{{#extends 'base'}}

{{#block 'content'}}
<h1>Update film: {{film.title}}</h1>
<form method="POST">
    <div>
        <label>Title:</label>
        <input type="text" name="title" class="form-control" value="{{film.title}}">
    </div>
    <div>
        <label>Description:</label>
        <textarea name="description" class="form-control">{{film.description}}</textarea>
    </div>
    <div>
        <label>Language:</label>
        <select name="language_id" class="form-control">
            {{#each languages}}
                <option value="{{this.language_id}}" 
                {{#eq this.language_id ../film.language_id}}selected{{/eq}}>
                    {{this.name}}
                </option>
            {{/each}}
        </select>
    </div>
     <div>
        <label>Actors</label>
        <select id="actors" name="actors" class="form-control" multiple>
            {{#each actors}}
             <option value="{{this.actor_id}}" {{#inArray ../currentActors this.actor_id}}selected{{/inArray}}>
                {{this.first_name}} {{this.last_name}}
             </option>
            {{/each}}
        </select>
    </div>
    <input type="submit" class="btn btn-primary my-3"/>
</form>

{{/block}}

{{#block 'js'}}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    // jquery instructions begin with a $ -- $() is usually referred to as the jquery function
    // .ready -- will ensure all the elements have been created (similiar to window.addEventListener('DOMContentReady'))
    // alternative: choices-js (https://github.com/Choices-js/Choices)
    $(document).ready(function(){
        // document.querySelector('#actors')
        $('#actors').select2();  // add the select2 control to select#actors
    })
</script>
{{/block}}

{{#block 'style'}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{{/block}}

{{/extends}}